<!--
<ion-app>
  <ion-content>

    <ion-header collapse="condense">
      <ion-toolbar>
        <div class="row toolbar_icon">
          <div class="col-2">
              <ion-icon name="reorder-three-outline"></ion-icon>
          </div>
          <div class="col-8"></div> 
          <div class="col-2">
              <ion-icon name="notifications-outline"></ion-icon>
          </div>
        </div>
      </ion-toolbar>
    </ion-header>

    <ion-router-outlet></ion-router-outlet>

    <ion-tabs>
      <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" routerLink="/home">
          <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="cat" routerLink="/cat">
          <ion-icon name="heart-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="search">
          <ion-icon name="settings-outline"></ion-icon>
      </ion-tab-button>
      </ion-tab-bar>
  </ion-tabs>
</ion-content>

</ion-app>
-->


<ion-app>
  <ion-content>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</ion-app>