

.label_question {
    font-size: 30px; // Set the desired font size
    color: white;
    text-align: center;
}

.label_answer{
    font-size: 20px; // Set the desired font size
}


.card-with-border {
    border: 2px solid black;
    background-color: black; // or you can use transparent if you want to be explicit: transparent;
    padding: 1px;
    align-items: center;
    text-align: center;
}

.custom-ion-list {
    background-color: black; /* Replace with your desired background color */
    color: white;
  }

  .custom-button {
    background-color: #74B2C9;
    color: #fff;
    padding: 10px 20px; // Adjust padding as needed
    border-radius: 10px; // Add border-radius for rounded corners
    cursor: pointer; // Add a pointer cursor for better UX
  
    &:hover {
      background-color: #5a8fa7;
      // Adjust the hover background color as needed
    }
  }
  

  .custom-button-sent{
    background-color: #74B2C9;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px 0; // Adjust padding as needed
    border: none;
    border-radius: 10px; // Add border-radius for rounded corners
    cursor: pointer; // Add a pointer cursor for better UX
  
    &:hover {
      background-color: #5a8fa7;
      // Adjust the hover background color as needed
    }
  }

ion-item {
    --padding-start: 0;
  }

ion-row {
    display: flex;
    flex-direction: column;
  }
  
  ion-col {
    display: flex;
    align-items: center;
  }

  ion-radio::part(container) {
    width: 30px;
    height: 30px;
  
    border-radius: 8px;
    border: 2px solid #ddd;
  }
  
  ion-radio::part(mark) {
    background: none;
    transition: none;
    transform: none;
    border-radius: 0;
  }
  
  ion-radio.radio-checked::part(container) {
    background: #74B2C9;
    border-color: transparent;
  }
  
  ion-radio.radio-checked::part(mark) {
    width: 6px;
    height: 10px;
  
    border-width: 0px 2px 2px 0px;
    border-style: solid;
    border-color: #fff;
  
    transform: rotate(45deg);
  }