<div class="row mt-4">
  <div class="col" style="text-align: center;">
    <img src="../../assets/icon/Logo Epoc Seguro.png">
  </div>
</div>


<div class="row" style="padding: 4px;">
  <div class="col">
    <label class="label_introduccion mt-4">
      Respira con confianza y vive sin limites</label>         
  </div>
</div>


<div class="row" style="padding-top: 10px;">
  <div class="col-1">

  </div>
  <div class="col-10" style="text-align: center;">


    <form>

      <div class="row" >
        <div class="col">
          <ion-item style="border-radius: 10px;">
            <ion-label><ion-icon name="document" class="icon-cat"></ion-icon>Tipo de Documento</ion-label>
            <ion-select [(ngModel)]="selectedOption" (ionChange)="selectOption($event)" name="documentType">
              <ion-select-option *ngFor="let option of options" [value]="option">
                {{ option }}
              </ion-select-option>
            </ion-select>
          </ion-item>

    </div>
  </div>
  
      <div class="row" style="padding-top: 50px;">
        <div class="col">

      <ion-item style=" border-radius: 10px; ">
      <ion-label>
        <ion-icon name="person-outline" class="icon-cat"></ion-icon>
      </ion-label>
      <ion-input placeholder="Numero de Documento"></ion-input>
    </ion-item>
        </div>
      </div>

    <div class="row" style="padding-top: 50px;">
      <div class="col">
        <ion-item style=" border-radius: 10px;">
          <ion-input labelPlacement="stacked" placeholder="contraseña">
            <ion-icon slot="start" name="lock-closed" aria-hidden="true" class="icon-cat"></ion-icon>
          </ion-input>
          
            <ion-button fill="clear" slot="end" aria-label="Show/hide">
              <ion-icon class="icon-cat" slot="icon-only" name="eye" aria-hidden="true"></ion-icon>
            </ion-button>
          </ion-item>
      </div>
    </div>

    </form>


  <div class="row" style="padding-top: 50px;">
    <div class="col">
      <button class="custom-button-sent" >
      ENVIAR
      </button>
    </div>
  </div>
 


  <div class="row" style="padding-top: 30px;">
    <div class="col">
      <button class="custom-button-login" routerLink="/chekin">
      REGISTRARME
      </button>
    </div>
  </div>



  <div class="row" style="padding-top: 30px;">
    <div class="col">
      <label class="label_forgotPass">
        ¿Olvidaste tu contraseña? 
        <b class="label_forgotPass_blue"> Entrar </b>
      </label>
    </div>
  </div>
 

  </div>
  <div class="col-1">
  </div>
</div>



