


<div id="container">
              
  <div row="row position_init">

      <div class="row">
          <div class="col">
              <img src="../../assets/icon/Logo Epoc Seguro.png">
          </div>
      </div>

      <div class="row">
          <div clas="col">
              <h3>'MARGARITA' </h3>
          </div>
      </div>

      <div class="row mt-2">

         <!--
          <div class="col-6">
              <button type="button" class="button_home">Historico de Encuestas</button>
          </div>
          -->
          <div>
              <button type="button" class="button_home" routerLink="/cat">Seguimiento Estado de Salud</button>                        
          </div>
      </div>
  </div>
</div>